.first{
    width: 400px;
    height: 500px;
    background-color: yellow;
    max-width: 300px;
}

.second{
    width: 600px;
    height: 300px;
    background-color: red;
    max-height: 200px; 
    overflow: visible;
}

p{
    overflow: hidden;
}