*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 960px;
    margin: 0 auto;
    padding-left: 25px;
}
/* NAVBAR */
nav{
background-color: rgba(170, 20, 20, 0.726);
width: 100%;
margin: 0 auto;
overflow: hidden;

}
ul{
    list-style-type: none;
    float: right;
    padding: 10px 0;
   

}

ul li{
    display: inline;
    
    padding: 10px 10px;
    
}

li a{
    text-decoration: none;
    color: white;
}


li:hover  {
    background-color: rgb(42, 147, 196);

}

/* BOXES */

 section{
    width: 100%;
    overflow: hidden;
    
    
} 

.big-div{
    width: 100%;
    
}

.img-big{
    width: 100%;
}

.helper-info{
    float: right;
    position: relative;
    top: 89px;
}

.info{
    background-color: orange;
    padding: 25px 10px;
    display: inline-block;
    position: relative;
    bottom: 90px;
    width: 220px;

    
}
.info p{
    border-bottom: 1px solid black;
    padding: 10px;
    width: 200px;
}

.flow-boxes{
    float: right;
    margin-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.box {
    width: 300px;
    height: 200px;
   
   
}

.box-wraper{
    width: 300px;
    display: inline-block;
    margin: 4px;
}

.text{
    padding: 0 5px;
}
.box1 , .box5{
    background-color: rgba(170, 20, 20, 0.726);
}

.box2, .box6{
    background-color: rgba(4, 4, 53, 0.87);
}

.box3, .box7{
    background-color: yellow;
}

.box4, .box8{
    background-color: lightgreen;
}


/* FOOTER */
footer{
    margin: 0 auto;
    clear: both;
    width: 80%;
    background-color: rgb(83, 83, 168);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
}




/* ako zatreba */

    /* .clear::after {
        content: "";
        clear: both;
        display: table;
      } */
