<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <title>Document</title>
</head>
<body>
  <main>
        <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
        </nav>
        
     <section> 
            <div class="big-div">
                 <img class="img-big" src="./img/HTML5-css.jpg" alt="">
            </div>
        
          <div class="flow-boxes">
            
            <div class="box-wraper"><div class="box box1"></div> <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero debitis suscipit vel excepturi, sequi eveniet libero cupiditate veritatis nam id quos possimus minima officiis laboriosam!lorem10
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, pariatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, facilis?
            </p></div>
            <div class="box-wraper"><div class="box box2"></div><p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero debitis suscipit vel excepturi, sequi eveniet libero cupiditate veritatis nam id quos possimus minima officiis laboriosam!lorem10
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, pariatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, facilis?
            </p></div>
            <div class="helper-info">
            <div class="info">
                <p>Rebyilding slack.com</p>
                <p>Zasto bootcamp format?</p>
                <p>React-prozor u svet aplikacija</p>
                <p>Najvece zablude o programerima u Srbiji</p>
            </div>
           </div> 
            <div class="box-wraper"><div class="box box3"></div><p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero debitis suscipit vel excepturi, sequi eveniet libero cupiditate veritatis nam id quos possimus minima officiis laboriosam!lorem10
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, pariatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, facilis?
            </p></div>
            <div class="box-wraper"><div class="box box4"></div><p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero debitis suscipit vel excepturi, sequi eveniet libero cupiditate veritatis nam id quos possimus minima officiis laboriosam!lorem10
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, pariatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, facilis?
            </p></div>
            <div class="box-wraper"><div class="box box5"></div><p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero debitis suscipit vel excepturi, sequi eveniet libero cupiditate veritatis nam id quos possimus minima officiis laboriosam!lorem10
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, pariatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, facilis?
            </p></div>
            <div class="box-wraper"><div class="box box6"></div><p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero debitis suscipit vel excepturi, sequi eveniet libero cupiditate veritatis nam id quos possimus minima officiis laboriosam!lorem10
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, pariatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, facilis?
            </p></div>
            <div class="box-wraper"><div class="box box7"></div><p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero debitis suscipit vel excepturi, sequi eveniet libero cupiditate veritatis nam id quos possimus minima officiis laboriosam!lorem10
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, pariatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, facilis?
            </p></div>
            <div class="box-wraper"><div class="box box8"></div><p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero debitis suscipit vel excepturi, sequi eveniet libero cupiditate veritatis nam id quos possimus minima officiis laboriosam!lorem10
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, pariatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, facilis?
            </p></div>
          </div>
      </section>
   
 </main>
 <footer><span>&#169;</span>BitStudent TanjaI</footer>
    
</body>
</html>