/*body {
    background-image: url(./seemless.jpg);
    background-attachment: fixed;
    color: whitesmoke;*/

/*body {
    background-image: url(./seemles3.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;  
}*/

/*body {
    background-image: url(../Images/picture.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
}*/